// COLORS

$color-primary: #347FC4;
$color-secondary: #225380;
$color-shade: rgba(34, 83, 128, 0.13);
$color-dark: #0E0E0E;
$color-gray: #A4A4A4;

// FONT
$font-primary: 'Questrial', sans-serif;
$font-secondary: 'Raleway', sans-serif;

// LAYOUT
$max-width: 1200px;